streamlit 
langchain 
langchain_ollama 
langchain_chroma 
langchain_community 
langchain_huggingface 
langchain_deepseek 
llama-index 
PyPDF2 
python-pptx 
faiss-cpu 
chromadb 
ollama 
sentence-transformers 
torch 
